#fundo{
    width: 600px; 
    height: 800px;
    background-color: #ba2fd6;
    margin: auto;
    display: flex;

}
#fundo2{
width: 50%;
height: 50%;
background-color: #001aff;
border-radius: 80px;

}
#textin{
    color: white;
     background-color: red;
      font-size: 25px; 
      font-family: monospace;
       font-weight: bold;
}
#outro{
    width: 90% ; 
    height: 100vh; 
    background-color: rgb(6, 184, 243);
}
#outro1{
    width:85vw;
     height:70%; 
     background-color: rgb(30, 175, 86);


}