*{
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

.header {
    border-bottom: 3px solid #00a8ff;
    background-color: #151A1D;
    margin: 0px 0px 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
           
}

.header .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: rgb(219, 57, 152)
}

.header a {
    text-decoration: none;
    color: rgb(219, 57, 152);
}

.header h1 {
    color: #00a8ff
}
 
.container {
    display: flex;
    width: 80%;
    margin: auto;
}
.banner {
    background-image: url(assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 470px;
}
.banner .container p {
    font-size: 36px;
    color: rgb(245, 245, 245);
    width: 280px;
}
.social{
    background-color: rgb(234, 231, 236);
    display: flex;
}
.social .container{
    justify-content: center;
}
.box img{
    width: 100px;
}
.social .container .boxes {
    display: flex;
    justify-content: space-between;
}
.box {
    width: 280px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box p{
    text-align: center;
}
.footer {
    height: 60px;
    width: 100% ;
    background-color: #00a8ff;
}
.footer .container .version{
    font-size: 12px;
    font-weight: 800;
}
.card {
    width: 30% ;
    right: 30%;
    background-color: #ffe8f9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: rgb(219, 57, 152);
}
.card h2{ 
    margin: 5px ;
    font-size: 30px;
}

.formulario{
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.formulario span{
    font-size:15px ;
    font-weight: 800;
}
.formulario input{
    border: 1px solid crimson;
    text-align: center;
    border-radius: 10px;
}
.campo{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
 .login .container {
    justify-content: center;
    height: 455px;
 }
 .botao{
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    border: 0;
    border-radius: 5px;
    font-weight: 504;
    font-size: 19px;
    color: crimson;
    background-color: #f5c3c3;
    width: 120px;
    height: 30px;
    align-self: center;
 }
 

